<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>THE LEAGUE</title>
    <link rel="stylesheet" href="css/style.css">
    {#inclure d'autres appels au CSS ou des scripts ici#}
</head>

<body>
    {% block header}
        <header>
            <h1> THE LEAGUE </h1>
                <nav>
                    <ul>
                        {% for category in categories %}
                            <li>
                                <a href="">{{ category.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
        </header>
    {% endblock %}
    
    {% block main %}
    {% endblock %} 
    
    {% block footer %}
    {% endblock %}
    
</body>
</html>